flows.json
[{"id":"3bf5f7a3.08cca","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8e16917b.89867","type":"function","z":"3bf5f7a3.08cca","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":280,"wires":[["53f3396.bb1fa48","66596e5b.7890a8"]],"l":false},{"id":"6683a087.648288","type":"function","z":"3bf5f7a3.08cca","name":"bot","func":"\nmsg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":481,"y":279,"wires":[["bb06c5b6.ec0068","e1f6ad82.3d543"]],"l":false},{"id":"bb06c5b6.ec0068","type":"debug","z":"3bf5f7a3.08cca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610.600058555603,"y":349.0000066757202,"wires":[],"l":false},{"id":"16cd78c5.32af67","type":"ui_form","z":"3bf5f7a3.08cca","name":"","label":"","group":"c264234a.bebe9","order":2,"width":0,"height":0,"options":[{"label":"enter text here","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":134,"y":293,"wires":[["8e16917b.89867"]],"l":false},{"id":"53f3396.bb1fa48","type":"watson-conversation-v1","z":"3bf5f7a3.08cca","name":"chatbot","workspaceid":"7e6885c2-d765-4afb-a16e-060c16e55f92","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/dc2c989b-a792-4de6-842e-6da23bc874af","timeout":"","optout-learning":false,"x":378,"y":89.79998779296875,"wires":[["6683a087.648288"]]},{"id":"f111cd60.7805f8","type":"inject","z":"3bf5f7a3.08cca","name":"","topic":"hi","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155,"y":100,"wires":[["53f3396.bb1fa48"]],"l":false},{"id":"66596e5b.7890a8","type":"ui_text","z":"3bf5f7a3.08cca","group":"c264234a.bebe9","order":3,"width":"7","height":"2","name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":235,"y":380,"wires":[],"l":false},{"id":"e1f6ad82.3d543","type":"ui_text","z":"3bf5f7a3.08cca","group":"c264234a.bebe9","order":3,"width":"7","height":"2","name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":655,"y":240,"wires":[],"l":false},{"id":"c264234a.bebe9","type":"ui_group","z":"","name":"Coversation","tab":"b50c4367.ebb3","order":1,"disp":true,"width":"7","collapse":false},{"id":"b50c4367.ebb3","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]